a {
    color: aliceblue;
    padding: 10px;
    margin-right: 15px;
    border-radius: 5px;
    background-color:teal;
    font-family: Segoe UI, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
}