.button-div {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
}

.back-button {
    background-color: rgb(131, 206, 196);
    border-radius: 5px;
    padding: 7px;
    color: rgb(0, 0, 0);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}

.back-button:hover {
    background-color: rgb(107, 182, 172);
}

.save-button {
    background-color: rgb(4, 207, 55);
    border-radius: 5px;
    padding: 7px;
    color: rgb(0, 0, 0);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    margin-left: 10px;
}

.save-button:hover {
    background-color: rgb(0, 170, 43);
}